/* Пиши стили тут */
.rating{
    display: inline-block;
}
.rating .star{
    display: inline-block;
    height: 50px;
    width: 50px;
    background-image: url("img/star-empty.png");
    background-size: cover;
    left: 50px;
    position: relative;
}

.rating .star1:hover{
    height: 50px;
    width: 50px;
    background-image: url("img/right-star.png");
}

.rating .star2:hover{
    height: 50px;
    width: 50px;
    background-image: url("img/right-star.png");
}

.rating .star3:hover{
    height: 50px;
    width: 50px;
    background-image: url("img/right-star.png");
}

.rating .star4:hover{
    height: 50px;
    width: 50px;
    background-image: url("img/right-star.png");
}

.rating .star5:hover{
    height: 50px;
    width: 50px;
    background-image: url("img/right-star.png");
}
