.star-rating {
    display: flex;
    align-items: center;
    width: 160px;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 40px auto;
    position: relative;
}
.star-rating input {
    display: none;
}
.star-rating > label {
    width: 30px;
    height: 30px;
    font-family: Arial, serif;
    font-size: 30px;
    transition: 0.2s ease;
    color: orange;
}
.star-rating label:hover {
    color: green;
    transition: 0.2s ease;
}
.star-rating label:active::before {
    transform:scale(1.1);
}
.star-rating label::before {
    content: '\2606';
    position: absolute;
    top: 0;
    line-height: 26px;
}
.star-rating input:checked ~ label:before {
    content:'\2605';
}